
Source/.vs/Wally/FileContentIndex/read.lock
Source/.vs/Wally/v17/.suo
Source/.vs/Wally/v17/Browse.VC.db
Source/.vs/Wally/v17/fileList.bin
Source/.vs/Wally/v17/ipch/AutoPCH/47fc0b636a57afb0/DOCMGR.ipch
Source/.vs/Wally/v17/ipch/AutoPCH/630bce90bb124c0f/DOCMULTI.ipch
Source/.vs/Wally/v17/ipch/AutoPCH/de625f737c02790f/APPUI.ipch
Source/.vs/Wally/v17/ipch/e6f2d778e04c179.ipch
Source/.vs/Wally/v17/Solution.VC.db
Source/.vs/Wally/v17/Solution.VC.db-shm
Source/.vs/Wally/v17/Solution.VC.db-wal
Source/zlib-1.2.13/contrib/vstudio/vc14/x64/ZlibStatDebug/Tmp/zlibstat.Build.CppClean.log
Source/zlib-1.2.13/contrib/vstudio/vc14/x64/ZlibStatDebug/Tmp/zlibstat.log
Source/zlib-1.2.13/contrib/vstudio/vc14/x64/ZlibStatDebug/Tmp/zlibstat.tlog/unsuccessfulbuild
Source/zlib-1.2.13/contrib/vstudio/vc14/x64/ZlibStatDebug/Tmp/zlibstat.vcxproj.FileListAbsolute.txt
Source/jpeg-9e/Release/x64/jpeg/jpeg.Build.CppClean.log
Source/jpeg-9e/Release/x64/jpeg/jpeg.log
Source/jpeg-9e/Release/x64/jpeg/jpeg.tlog/unsuccessfulbuild
Source/jpeg-9e/Release/x64/jpeg/jpeg.vcxproj.FileListAbsolute.txt
Source/.vs/Wally/FileContentIndex/3e15cb7b-6e88-443c-8543-69b11a5c249b.vsidx
Source/.vs/Wally/FileContentIndex/22f568a4-e43d-4e07-a5d2-1507da2ee3e3.vsidx
Source/.vs/Wally/FileContentIndex/6bdc013f-6841-4829-a03b-fc41b3a9ecad.vsidx
Source/.vs/Wally/FileContentIndex/e3b9e08c-450a-467a-9f0c-68ce78dba7df.vsidx
Source/.vs/Wally/v17/ipch/AutoPCH/989173fdad3b568f/DLGDATA.ipch
Source/.vs/Wally/FileContentIndex/f65b1235-f65e-4ebe-88c3-ff6567d8af1e.vsidx
Source/.vs/Wally/FileContentIndex/8f6303d4-ab58-4a96-b2c2-115cbd91d26a.vsidx
Source/.vs/Wally/FileContentIndex/7292f583-1eae-4447-a2c2-55aee9fc6f80.vsidx
Source/.vs/Wally/FileContentIndex/68556c57-4d11-4b00-a2d2-9a1d2d14a596.vsidx
Source/.vs/Wally/FileContentIndex/7ac4d4af-a1d8-4897-9747-2e805d746375.vsidx
Source/.vs/Wally/FileContentIndex/8c22e74d-feb7-4ec4-9d35-89a8b8530e41.vsidx
Source/.vs/Wally/v17/ipch/AutoPCH/3dbd502c8280f5a3/OBJCORE.ipch
Source/.vs/Wally/v17/ipch/AutoPCH/5057ff1e0ff1b6f8/WINCORE.ipch
Source/.vs/Wally/v17/ipch/AutoPCH/85f2f4e1cc41433/FILELIST.ipch
Source/.vs/Wally/v17/ipch/AutoPCH/92e80e6134484e00/WINFRM.ipch
Source/.vs/Wally/v17/ipch/AutoPCH/a599a4aaf8cb7384/APPUI.ipch
Source/.vs/Wally/v17/ipch/AutoPCH/d9d7d30fab59336b/WINMDI.ipch
Source/.vs/Wally/v17/ipch/AutoPCH/f7cad1b50fcb6ce1/DOCTEMPL.ipch
Source/.vs/Wally/FileContentIndex/4c661226-a348-47cf-a5cb-697de7ba5817.vsidx
Source/.vs/Wally/FileContentIndex/0b78e330-c00c-4534-a90d-c69ac6680852.vsidx
Source/.vs/Wally/FileContentIndex/57cdc00c-64b9-47ad-8540-0d5d91581f61.vsidx
Source/.vs/Wally/FileContentIndex/727d4272-8dd7-4d33-9a3a-660d28110f52.vsidx
Source/.vs/Wally/v17/ipch/AutoPCH/1d1dd81aab9dcb6f/OBJCORE.ipch
Source/.vs/Wally/v17/ipch/AutoPCH/8cd77ca2b386a95d/DOCTEMPL.ipch
Source/.vs/Wally/v17/ipch/AutoPCH/a91ed67a7b4a5a67/WINMDI.ipch
Source/.vs/Wally/FileContentIndex/006319c7-d994-4d23-afa1-dbb19e18a147.vsidx
Source/.vs/Wally/FileContentIndex/0d52732b-6982-46f6-a057-ddfedbe4515f.vsidx
Source/.vs/Wally/FileContentIndex/e9c30452-e97c-48d2-b2fd-c2b9091b20e1.vsidx
Source/.vs/Wally/v17/ipch/AutoPCH/1a8b607b971c1b90/WINCORE.ipch
Source/.vs/Wally/FileContentIndex/23742fb1-4b19-41ee-bff8-e183d6757ba9.vsidx
Source/.vs/Wally/FileContentIndex/34819ddc-7b02-4002-aebb-8ac9f5714c3b.vsidx
Source/.vs/Wally/FileContentIndex/722aeb8c-c000-4d27-9c90-c29332708340.vsidx
Source/.vs/Wally/FileContentIndex/b5fd6e16-4b3c-4b1a-8505-83145fbd4b1d.vsidx
Source/.vs/Wally/v17/ipch/92474643f9a31dbf.ipch
Source/.vs/Wally/v17/ipch/AutoPCH/f989b5d93e1f080d/BARTOOL.ipch
Source/.vs/Wally/FileContentIndex/e3ce273c-1779-4ddf-84da-0caa1043d253.vsidx
Source/.vs/Wally/FileContentIndex/7cdda1c7-a52e-4cdb-9678-bccb9e232604.vsidx
Source/.vs/Wally/FileContentIndex/24436a03-258a-4822-928a-a57faa2e109f.vsidx
*.ipch
*.vsidx
